<ion-split-pane [enabled]="splitPane">
  <ion-menu [content]="content" persistent="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>LeFroidPlay</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content no-bounce no-scroll>
      <ion-list>
        <ng-container *ngFor="let p of pages">
          <button *ngIf="!p.parent" menuClose ion-item (click)="openPage(p)" [class.active]="pageActive == p.alias">
            {{p.title}}
          </button>
          <ion-item-group *ngIf="p.parent" >
            <ion-item-divider
              (click)="toggleGroup(p.parent)"
              [class.active]="isGroupShown(p.parent)">
              {{p.title}}
            </ion-item-divider>
            <button *ngFor="let c of p.children" menuClose ion-item (click)="openPage(c)" [class.show]="isGroupShown(p.parent)" [class.active]="pageActive == c.alias">
              {{c.title}}
            </button>
          </ion-item-group>
        </ng-container>

      </ion-list>
      <button ion-item  secondary (click)="signOut()">Se déconnecter</button>
    </ion-content>

    <ion-footer text-center no-border>
      <a ion-button icon-start round href="itms-services://?action=download-manifest&url=https://lefroidplay.firebaseapp.com/LeFroidPlay-2017-09-18/manifest.plist">
        <ion-icon name="download"></ion-icon>
        Télécharger L'appli
      </a>
    </ion-footer>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
